
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding-top: 20px;
}

.card {
    flex: 1 1 400px; // Flex property for responsive card width
    max-width: 600px; // Max width of card
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;

    &:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
}

.card-link {
    display: block;
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

.card-content {
    padding: 1rem;
}

.card-image img {
    width: 100%;          // Image will scale based on the width of its container
    //height: auto;         // Height will adjust based on the aspect ratio of the image
    height: 300px;    // Setting max height as mentioned
    object-fit: cover;    // Image will cover the available space without stretching
    display: block;       // Remove any default spacing/margin
}

// Media queries for larger screens
@media (min-width: 768px) {
    .card {
        max-width: 45%; // Allowing two cards per row for mid-sized screens
    }
}

@media (min-width: 1024px) {
    .card {
        max-width: 31.333%; // Allowing three cards per row for larger screens
    }
}
