<div class="search-container">
  <form (submit)="onSearch(); $event.preventDefault();">
      <input class="search-input" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Search NYT Articles...">
      <button class="search-btn" type="submit">Search</button>
  </form>
</div>

<div class="card-container">
  <div *ngFor="let article of articles" class="card">
    <a [href]="article.web_url" target="_blank" class="card-link">
      
      <!-- Thumbnail -->
      <div class="card-image" *ngIf="article.multimedia.length > 0">
        <img [src]="'https://www.nytimes.com/' + article.multimedia[0].url" alt="Article Thumbnail">
      </div>
      
      <!-- Card Content -->
      <div class="card-content">
        <h3>{{ article.headline.main }}</h3>
        <p>{{ article.snippet }}</p>
      </div>
    </a>
  </div>
</div>
