<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<nav class="top-nav">
    <div class="nav-wrapper">
      <a routerLink="/home" routerLinkActive="active" class="nav-link">
        <i class="material-icons">home</i>
        Home
      </a>
      <a routerLink="/categories" routerLinkActive="active" class="nav-link">
        <i class="material-icons">category</i>
        Categories
      </a>
      <a routerLink="/search-trending" routerLinkActive="active" class="nav-link">
        <i class="material-icons">trending_up</i>
        Search & Trending
      </a>
      <a routerLink="/settings" routerLinkActive="active" class="nav-link">
        <i class="material-icons">settings</i>
        Settings
      </a>
    </div>
</nav>
